<!DOCTYPE html>
<html>
<head>
	{% load static %}

	<title>{{actor_info.name}} IMDB Catalogue</title>
	<link href="https://fonts.googleapis.com/css?family=Kumar+One" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="http://d3js.org/d3.v2.min.js?2.9.3"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'imdbapp/stylesheet.css' %}">
	<style>

	svg{
		display: block;
		margin: auto;
	}

	.link {
	  stroke: #aaa;
	}

	.node text {
	stroke:#333;
	cursos:pointer;
	}

	.node circle{
	stroke:#fff;
	stroke-width: 1px;
	fill:#555;
	}

	</style>
</head>
<body>
	<nav class="navbar navbar-default container-fluid">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="{% url 'homepage' %}">IMDB Catalogue</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <form class="navbar-form navbar-left" method="GET" action="{% url 'search_box' %}">
	      	<div class="form-group">
	         	<select class="form-control" name="attr">
					<option value="movies">Movies</option>
					<option value="actor" selected>Actor</option>					  
				</select>
	        </div>
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search" name="search_term">
	        </div>
	        
	        <button type="submit" class="btn btn-default">Submit</button>
	      </form>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<div class="data container">
		<div class="actor-header">
			<h1>{{actor_info.name}} <small>({{actor_info.id}})</small></h1>
		</div>
		<div class="page-header ">
			<div class="row">			
				<div class="col-lg-5">
					<div class="actor-image ">
						<img class="img-rounded actor-image" src="{{actor_info.image}}" width="200" height="300">
					</div>
				</div>
				<div class="col-lg-7">
					
					<div class="graph"></div>
				</div>
			</div>			
		</div>

		<div class="actor-data">
			{% if actor_info.birth_notes != " " %}
			<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title"><b>Birth Notes</b></h3>
			  	</div>
			  	<div class="panel-body">
			    	<p> <b>Place</b> - {{actor_info.birth_notes}}</p>
			    	<p> <b>Birthday</b> - {{actor_info.birthday }}</p>
			  	</div>
			</div>
			{% endif %}
			{% if actor_info.biography != " " %}
			<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title"><b>Biography</b></h3>
			  	</div>
			  	<div class="panel-body">
			    	<p><span class="more_text">{{actor_info.biography}}</span></p>
			  	</div>
			</div>
			{% endif %}

			<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title"><b>Movies</b></h3>
			  	</div>
			  	<div class="panel-body">
			  		<ul class="term-list">
				  	{% for movie in actor_info.movie_list %}
				    	<li class="term-item"><a href="{% url 'movie' movie.id %}"> <b>{{ movie.title }}</b></a> (ID - {{ movie.id }})</li>
				  	{% endfor %}
			  		<ul>
			  	</div>
			</div>
		</div>
	</div>
</body>

<script type="text/javascript">
	var width = 960,
    height = 500

	var color = d3.scale.category10();

	var svg = d3.select(".graph").append("svg")
			.attr({"width":"100%","height":"100%"})
	     	.attr("viewBox", "0 0 " + width + " " + height )
	        .attr("preserveAspectRatio", "xMidYMid meet")
	        .attr("pointer-events", "all")
    		.call(d3.behavior.zoom().on("zoom", redraw));	


    function redraw() {
	  svg.attr("transform",
	      "translate(" + d3.event.translate + ")"
	      + " scale(" + d3.event.scale + ")");
	}

	var force = d3.layout.force()
	    .gravity(.05)
	    .distance(100)
	    .charge(-100)
	    .size([width, height]);

	var color = d3.scale.category10();

d3.json("{% url 'graph_json' actor_info.id %}", function(json) {
  force
      .nodes(json.nodes)
      .links(json.links)
      .start();

  var link = svg.selectAll(".link")
      .data(json.links)
    .enter().append("line")
      .attr("class", "link")
    .style("stroke-width", function(d) { return Math.sqrt(d.weight); });

  var node = svg.selectAll(".node")
      .data(json.nodes)
    .enter().append("g")
      .attr("class", "node")
      .call(force.drag);

  node.append("circle")
  	  .style("fill", function(d) { return color(d.group); })
      .attr("r","7");

  node.append("text")
      .attr("dx", 12)
      .attr("dy", ".35em")
      .text(function(d) { return d.name });

  force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
  });
});
</script>
<script type="text/javascript">
	$('ul.term-list').each(function(){
  
	  var LiN = $(this).find('li').length;
	  
	  if( LiN > 3){    
	    $('li', this).eq(2).nextAll().hide().addClass('toggleable');
	    $(this).append('<li class="more"><b>More ...</b></li>');    
	  }
	  
	});


	$('ul.term-list').on('click','.more', function(){
	  
	  if( $(this).hasClass('less') ){    
	    $(this).text('More...').removeClass('less');    
	  }else{
	    $(this).text('Less...').addClass('less'); 
	  }
	  
	  $(this).siblings('li.toggleable').slideToggle();
	    
	}); 
</script>
<script type="text/javascript">
	$(document).ready(function() {
	    // Configure/customize these variables.
	    var showChar = 400;  // How many characters are shown by default
	    var ellipsestext = ".....";
	    var moretext = "Show more >";
	    var lesstext = "Show less";
	    

	    $('.more_text').each(function() {
	        var content = $(this).html();
	 
	        if(content.length > showChar) {
	 
	            var c = content.substr(0, showChar);
	            var h = content.substr(showChar, content.length - showChar);
	 
	            var html = c + '<span class="moreellipses">' + ellipsestext+ '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';
	 
	            $(this).html(html);
	        }
	 
	    });
	 
	    $(".morelink").click(function(){
	        if($(this).hasClass("less")) {
	            $(this).removeClass("less");
	            $(this).html(moretext);
	        } else {
	            $(this).addClass("less");
	            $(this).html(lesstext);
	        }
	        $(this).parent().prev().toggle();
	        $(this).prev().toggle();
	        return false;
	    });
	});
</script>
</html>