<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<title>{{movie.name}} | IMDB Catalogue</title>
	<link href="https://fonts.googleapis.com/css?family=Kumar+One" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
	<nav class="navbar navbar-default container-fluid">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="{% url 'homepage' %}">IMDB Catalogue</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <form class="navbar-form navbar-left" method="GET" action="{% url 'search_box' %}">
	      	<div class="form-group">
	         	<select class="form-control" name="attr">
					<option value="movies" selected>Movies</option>
					<option value="actor">Actor</option>					  
				</select>
	        </div>
	        <div class="form-group">
	          <input type="text" class="form-control" placeholder="Search" name="search_term">
	        </div>
	        
	        <button type="submit" class="btn btn-default">Submit</button>
	      </form>
	    </div><!-- /.navbar-collapse -->
	  </div><!-- /.container-fluid -->
	</nav>
	<div class="data container">
		<div class="actor-header">
			<h1>{{movie.name}} <small>({{movie.id}})</small> <small>{{movie.year}}</small></h1>
		</div>
		<div class="page-header ">
			<div class="row">			
				<div class="col-lg-12">
					<div class="actor-image ">
						<img class="img-rounded actor-image" src="{{movie.image}}" width="200" height="300">
					</div>
				</div>
			</div>			
		</div>

		<div class="actor-data">
			<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title"><b>Rating</b></h3>
			  	</div>
			  	<div class="panel-body">
			  		<p>{{movie.rating}}</p>
			  	</div>
			</div>
		</div>
		{% if movie.genre != " " %}
		<div class="actor-data">
			<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title"><b>Genre</b></h3>
			  	</div>
			  	<div class="panel-body">
			  		<p>{{movie.genre}}</p>
			  	</div>
			</div>
		</div>
		{% endif %}
		{% if movie.plot != " " %}
		<div class="actor-data">
			<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title"><b>Plot Summary</b></h3>
			  	</div>
			  	<div class="panel-body">
			  		<p>{{movie.plot}}</p>
			  	</div>
			</div>
		</div>
		{% endif %}
		<div class="actor-data">
			<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title"><b>Cast</b></h3>
			  	</div>
			  	<div class="panel-body">
			  		<ul class="term-list">
				  	{% for cast in movie.cast %}
				    	<li class="term-item"><a href="{% url 'actor' cast.id %}"> <b>{{ cast.name }}</b></a> (ID - {{ cast.id }})</li>
				  	{% endfor %}
			  		<ul>
			  	</div>
			</div>
		</div>
	</div>
</body>
</html>