.navbar-form{
	margin-left: 15%;
}

.navbar-brand{
	font-weight: bold;
	font-family: 'Kumar One', cursive;
	font-size: 25px;
}

.search-result-heading{
	font-size: 23px;
}

.actor-image{
	display: block;
	margin: auto;
}

.actor-header{
	text-align: center;
}

.more{
    color:#537AB7;
    cursor:pointer;
}

li{
	list-style-type: none;
}

ul{
	padding-left: 0px;
}

.morecontent span {
    display: none;
}
.morelink {
    display: block;
}

.term-list{
	font-size: 15px;
}